@import 'otherCSS.css';

/*
@ rules apply to certain media and metadata

Nested statements (if the media exceeds 40 pixels):
@media (min-width: 40px) { 
    body {
        margin: 0 auto;
        width: 10px;
    }
}
*/
a {
    color: blue;
}
p {
    color: red;
    padding: 10px 12px 13px 11px; /* Short-hand: top right bottom left */
}

h1 { /* this is a tag selector */
    color: grey;
    /*this changes the largest heading to grey*/
}

.first-div { /* class attribute selector */
    color: brown;
    text-align: center;
    background-color: green;
    border: 10px solid yellow;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1),
    rgba(0,0,0,0.6));
    padding: 4px;
}

#one { /* id attribute selector */
    font-style: italic;
    text-transform: capitalize;
}

span{
    text-decoration: line-through;
}

ul {
    color: aqua;
}
 
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

[data-quantity] { /* all elements with this attr */
    color: yellow;
}

[data-quantity="1L"] { /* all elements with this attr and the exact val of 1L */
    color: red;
}

[data-quantity~="1L"] { /* all elements with this attr and the exact val of 1L */
    color: blue;
}

[lang|="en"] { /* If the language is English */
    font-weight: bold;
}

/* Pseudo Classes: specify style when an element is in a certain state */
a:visited { /* When the user has visited the site already, it changes to purple */
    color: purple;
}

a:hover,
a:active,
a:active {
    color: darkred;
    font-weight: bold;
}

/* Pseudo Elements: like classes but uses "::" instead */
/* elements with an attribute "href" with values
   starting with "http" will have an arrow added after their
   content (to indicate they are external links) */
[href^=http]::after {
    content: '⤴';
}

p::first-letter { /* This styles the first letter of the paragraph*/
    font-size: 3em;
    border: 1px solid black;
    background: red;
  }


/* Combinators & Selector Lists*/
table { /* basic table selection*/
    font: 2em sans-serif;
    border-spacing: 1;
}

table td, table th { /* selects all <td> and <ts> within a table */
    border: 1px solid black;
    padding: 0.4em 0.3em 0.5em;
}

table tbody td + td { /* All <td>s preceded by another <td>, within a <tbody> in a table */
    text-align: center;
}
table tbody td:last-child { /* All <td> that are a last child, in a <tbody> in a table */
    text-align: right;
}

/* All <th>s, within a <tfoot>s, within a <table> */
table tfoot th {
    text-align: right;
    border-top-width: 5px;
    border-left: none;
    border-bottom: none;
}

table thead th {
    color: white;
    background: black;
}

/* All <td>s preceded by a <th>, within a <table> */
table th + td {
    text-align: right;
    border-top-width: 5px;
    color: white;
    background: black;
}

/* All pseudo-elements "after" <td>s that are a last child,
    appearing within elements with the class "with-currency" that
    also have an attribute "lang" with the value "fr" */
.with-currency[lang="en-GB"] td:last-child::after {
    content: ' €';
}

/*---------------Make a basic blog when finished CSS------------*/